@font-face {
  font-family: Inter;
  src: url(fonts/Inter-SemiBold.woff2) format(woff2);
  font-weight: 600, 500;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-Inter: Inter, Arial;
  --accent-color: #f4f4f5;
  --accent-color-text: #ccc;
  --border-color: #dfac03;
}

body {
  font-family: var(--font-family-Inter);
  padding: 0 5px;
  background-color: #fafafa;
}
